@import "tailwindcss";

:root {
  --background: #05050a;
  --foreground: #fff;
  --primary: #2d3afe;
  --accent: #6a4cff;
  --card-bg: #181828;
  --card-overlay: rgba(44, 44, 88, 0.7);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #05050a;
    --foreground: #fff;
  }
}

body {
  background: #05050a;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}